<div class="beers-container">
  <div>
    <img src="{{image_url}}" alt="name for {{name}}" class="beer-image">
  </div>
  <div class="name-tagline"> 
    <br>
		<a href="/beers/{{id}}" class="title">
			{{name}}
		</a>
		</div>
  <div class="beer-paragraph">
    <br>
		<p>
			{{description}}
		</p>
   
		<p class="tagline">
			{{tagline}}
		</p>
	</div>
</div>